*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

/* padding for header combined to consolidate code and px units converted to percentage to help with mobile scaling*/
.wrapper {
  padding: 5%,4%,4%,3.5%;
}

/* Changes the format and layout of the header */
/* px units converted to percentage. */
header {
  text-align: center;
  padding: 2.5%;
  padding-top: 0%;
  color: hsl(206, 17%, 28%);
}

/* format and layout for body in white box */
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size:115%;
  margin: 0 auto;
  max-width: 70%;
  padding: 2.5% 3.5%;
}
/* This allows for the line that breaks up the body before the info box. */
.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

/* This allows for the line that breaks up the body before the info box. */
.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

/* This CSS element holds the style attributes for the generate password button. */
.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 125%;
  line-height: 65%;
  margin: 3% 3% 3% 2%;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;  
/* Padding consolidated into one string and adjusted to percentage for mobile re-sizing */
  padding: 2% 2% 12% 2%;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}



@media (max-width: 768px) {
  .btn {
    font-size: 1.5rem;
    margin: 5% 0% 0% 0%;
    padding: 10px 15px;
  }
  h2{
    text-align: center;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .btn {
    font-size: 1rem;
  }
  h2 {
    text-align: center;
  }
}
